@charset "utf-8";
/* 
 * Drupal 5.7 CWS - Created by Paul Merrick
 * Derived from Framework - Created by Andre Griffin
 * Admin section derived from Garland
 *
 * Global
 */
body {
background:#fff;
background-image: url(images/bkg.png);
background-repeat: repeat-x;
color:#333;
font-family:Arial, Tahoma, Verdana, Helvetica, sans-serif;
font-size:0.8em;
margin:0;
padding:0;
}

a:link {
color:#309;
outline:none;
text-decoration:none;
}

a:visited {
color:#066;
outline:none;
text-decoration:none;
}

a:hover,a:active,li a.active {
color:#909;
text-decoration:none;
}

a:focus,a:active,li a:focus {
color:#fff;
background-color:#333;
}

p {
line-height:1.6em;
margin:0 0 10px
}

h1 {
font-size:2em;
margin:0em 0;
padding:0px 0px 5px 0px;
}

h2 {
font-size:1.1em;
margin:1em 0 0.5em;
padding:0
}

h3 {
font-size:1em;
margin:0.5em 0 1em;
padding:0
}

h4 {
font-size:0.9em;
margin:0.5em 0 1em;
padding:0
}

/*
 * Layout
 */
#wrapper {
margin:0 auto;
width:984px;
background:#fff;
/*border:1px solid #e9eff3; */
}

#header {
/*background-image:url(images/tile.png);
background-repeat:repeat; */
margin:0px;
}

#container {
margin:0px 0px 0px 0px;
background-color: #f8f9fd;
/*border-bottom:1px solid #e9eff3;*/
}

/* Container Border Styles */
.container_n { background: url(images/border/container_n.jpg) repeat-x top; }
.container_e { background: url(images/border/container_e.jpg) repeat-y right; }
.container_s { background: url(images/border/container_s.jpg) repeat-x bottom; }
.container_w { background: url(images/border/container_w.jpg) repeat-y left; }
.container_ne { background: url(images/border/container_ne.jpg) no-repeat top right; }
.container_se { background: url(images/border/container_se.jpg) no-repeat bottom right; }
.container_sw { background: url(images/border/container_sw.jpg) no-repeat bottom left; }
.container_nw { background: url(images/border/container_nw.jpg) no-repeat top left; }

.container_nw { padding: 0px 0px; } /* Controls padding.  Increase to make text further away from edges; decrease to bring closer.  */






/*Adjusts for 3 columns*/
body.sidebars #center {
background-color: #fff;
float:left;
padding:0px;
width:622px
}

/*Adjusts for 2 columns - sidebar-left*/
body.sidebar-left #center {
background-color: #fff;
float:right;
padding:0px;
margin:0px 30px 0px 0px;
width:772px
}

/*Adjusts for 2 columns - sidebar-right*/
body.sidebar-right #center {
background-color: #fff;
float:left;
padding:0px;
margin:0px 0px 0px 30px;
width:772px
}

/* Center Border Styles */
.center_n { background: url(images/border/center_n.jpg) repeat-x top; }
.center_e { background: url(images/border/center_e.jpg) repeat-y right; }
.center_s { background: url(images/border/center_s.jpg) repeat-x bottom; }
.center_w { background: url(images/border/center_w.jpg) repeat-y left; }
.center_ne { background: url(images/border/center_ne.jpg) no-repeat top right; }
.center_se { background: url(images/border/center_se.jpg) no-repeat bottom right; }
.center_sw { background: url(images/border/center_sw.jpg) no-repeat bottom left; }
.center_nw { background: url(images/border/center_nw.jpg) no-repeat top left; }

.center_nw { padding: 30px; } /* Controls padding.  Increase to make text further away from edges; decrease to bring closer.  */





.breadcrumb {
color:#ccc;
padding:0
}

.breadcrumb a {
color:#666
}

.breadcrumb a:hover {
color:#999
}

#footer {
clear:both;
margin:5px 30px;
padding:0px 0px 0px 0px;
position:relative
}

#footer a.feed-icon {
position:absolute;
right:0;
top:5px
}

/*
 * Node
 */
ul.links li {
background:none;
margin:0 10px 0 0;
padding:0
}

span.submitted {
color:#898989;
line-height: 250%;
font-size:0.8em;
}

/*
 * Comments
 */
.comment {
 border-bottom:1px solid #e9eff3;
margin:0 0 10px;
padding:0 0 10px
}

/*
 * Sidebars
 */
.sidebar {
padding:15px 0 0;
width:160px
}

#sidebar-left {
float:left;
padding: 10px 10px;
}

#sidebar-right {
float:right;
padding: 10px 10px;
}

.block {
margin:0
}

/*
 * Navigation
 */
#nav {
border-bottom:1px solid #e9eff3;
border-top:1px solid #e9eff3;
margin:0 0 0px;
background-image:url(images/pri-nav.png);
background-repeat:repeat-x;
}

ul.primary-links {
font-weight:700;
padding:5px 0
}

ul.primary-links li {
margin:0;
padding:0
}

ul.primary-links li a:link,ul.primary-links li a:visited {
margin:0 10px 0;
padding:5px 2px
}

ul.primary-links li a:hover,ul.primary-links li a:active {
text-decoration:underline
}

ul.secondary-links {
border-top:1px solid #e9eff3;
padding:2px 0
}

ul.secondary-links li {
margin:0;
padding:0
}

ul.secondary-links li a:link,ul.secondary-links li a:visited {
margin:0 10px 0 0;
padding:2px
}

ul.secondary-links li a:hover,ul.secondary-links li a:active {
text-decoration:underline
}

/*
 * CSS Support
 */
.clear {
clear:both;
display:block;
font-size:0;
height:1px;
line-height:0;
margin-bottom:-1px
}

.clear-block {
display:block
}

/*
 * Paul's Stuff
 */
 
.sticky {
background-color: #f8f9fd;
border: 1px solid white;
padding:0px;
}


/* Sticky Border Styles */
.stick_n { background: url(images/border/stick_n.jpg) repeat-x top; }
.stick_e { background: url(images/border/stick_e.jpg) repeat-y right; }
.stick_s { background: url(images/border/stick_s.jpg) repeat-x bottom; }
.stick_w { background: url(images/border/stick_w.jpg) repeat-y left; }
.stick_ne { background: url(images/border/stick_ne.jpg) no-repeat top right; }
.stick_se { background: url(images/border/stick_se.jpg) no-repeat bottom right; }
.stick_sw { background: url(images/border/stick_sw.jpg) no-repeat bottom left; }
.stick_nw { background: url(images/border/stick_nw.jpg) no-repeat top left; }

.stick_nw { padding: 30px; } /* Controls padding.  Increase to make text further away from edges; decrease to bring closer.  */

/* Portfolio Border Styles */
.port_n { background: url(images/border/port_n.jpg) repeat-x top; }
.port_e { background: url(images/border/port_e.jpg) repeat-y right; }
.port_s { background: url(images/border/port_s.jpg) repeat-x bottom; }
.port_w { background: url(images/border/port_w.jpg) repeat-y left; }
.port_ne { background: url(images/border/port_ne.jpg) no-repeat top right; }
.port_se { background: url(images/border/port_se.jpg) no-repeat bottom right; }
.port_sw { background: url(images/border/port_sw.jpg) no-repeat bottom left; }
.port_nw { background: url(images/border/port_nw.jpg) no-repeat top left; }

.port_nw { padding: 30px; } /* Controls padding.  Increase to make text further away from edges; decrease to bring closer.  */

.logo {
margin: 10px 15px 0px;
}

div#topSkip {
	padding-left: 0px;
}


div#topSkip ul {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e9eff3;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 190%;
	white-space: nowrap;
	list-style-type: none !important;
}
div#topSkip li {
	list-style-image: none !important;
	background: transparent url(images/spacer.gif);
	display: inline;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ccc;
}
div#topSkip li a {
	text-decoration: none;
	padding: 7px 27px 7px 0px;
}

div#topSkip li a:link {

}
div#topSkip li a:visited {
}
div#topSkip li a:hover {
}
div#topSkip li a:focus {
}
div#topSkip li a:active {
}


#imageLeft, .imageLeft { /* Added 7-1-08 */
  float: left;
  margin: 0px 10px 5px 0px;
  border: 1px solid #ccc;
  padding: 0px;
}

#imageRight, .imageRight { /* Added 7-1-08 */
  float: right;
  margin: 0px 0px 5px 10px;
  border: 1px solid #ccc;
  padding: 0px;
}

#imageNon, .imageNon { /* Added 7-1-08 */
  margin: 0px 0px 10px 10px;
  border: 1px solid #ccc;
  padding: 0px;
}



/*--------------ADMINISTRATION SECTION----------------
  --------------edit at your own risk ----------------*/
#tabs-wrapper{margin:0;padding:0}h2.with-tabs{float:left;margin-right:1em}ul.tabs{margin:1.8em 0 0 !important;padding:0 !important}

img,a img{border:none;outline:none}input{color:#494949;font:12px/100% Verdana, sans-serif}textarea,select{color:#494949;font:12px/160% Verdana, sans-serif}em{padding:0 3px 0 0}

hr{background:#e1e4f7;border:none;height:1px;margin:0;padding:0}

ul,quote,code,fieldset{margin:.5em 0}ul{margin:0.5em 0 1em;padding:0}ul li{margin:0.4em 0 0.4em .5em}ul.menu,.item-list ul{margin:0.35em 0 0 -0.5em;padding:0}ul.menu ul,.item-list ul ul{margin-left:0}ul li,ul.menu li,.item-list ul li,li.leaf{background:transparent url(images/menu-leaf.gif) no-repeat 1px .35em;list-style-image:none;list-style-type:none;margin:0.15em 0 0.15em .5em;padding:0 0 .2em 1.5em}ul li.expanded{background:transparent url(images/menu-expanded.gif) no-repeat 1px .35em}ul li.collapsed{background:transparent url(images/menu-collapsed.gif) no-repeat 0 .35em}ul li.leaf a,ul li.expanded a,ul li.collapsed a{display:block}ul.inline li{background:none;margin:0;padding:0 1em 0 0}fieldset ul.clear-block li{background-image:none;margin:0;padding:0}dl{margin:0.5em 0 1em 1.5em}dl dd{margin:0 0 .5em 1.5em}table{margin:1em 0;width:100%}thead th{border-bottom:2px solid #d3e7f4;color:#494949;font-weight:700}th a:link,th a:visited{color:#6f9dbd}td,th{padding:.3em .5em}tr.even,tr.odd,tbody th{border:solid #d3e7f4;border-width:1px 0}

tr.odd,tr.info{background-color:#F8F9FD}

tr.even{background-color:#fff}

tr.odd td.active{background-color:#ddecf5}

tr.even td.active{background-color:#e6f1f7}

td.region,td.module,td.container{background-color:#d4e7f3;border-bottom:1px solid #b4d7f0;border-top:1.5em solid #fff;color:#455067;font-weight:700}

tr:first-child td.region,tr:first-child td.module,tr:first-child td.container{border-top-width:0}span.form-required{color:#ffae00}

.description{color:#333;font-size:0.92em;line-height:150%;margin-bottom:0.75em}

.messages,.preview{margin:.75em 0;padding:.5em 1em}.messages ul{margin:0}.form-checkboxes,.form-radios,.form-checkboxes .form-item,.form-radios .form-item{margin:0.25em 0}#center form{margin-bottom:2em}.form-button,.form-submit{margin:2em 0.5em 1em 0}#watchdog-form-overview .form-submit,.confirmation .form-submit,.search-form .form-submit,.poll .form-submit,fieldset .form-button,fieldset .form-submit,.sidebar .form-button,.sidebar .form-submit,table .form-button,table .form-submit{margin:0}.box{margin-bottom:2.5em}.profile dd{margin-bottom:1.6em}ul.primary,ul.primary li,ul.secondary,ul.secondary li{background:none;border:0;margin:0;padding:0}ul.primary{float:left;padding:0.5em 0 10px}ul.secondary{border-bottom:1px solid #e9eff3;clear:both;margin:0 0 1em;padding:0 0 1em;text-align:left}ul.primary li a,ul.primary li.active a,ul.primary li a:hover,ul.primary li a:visited,ul.secondary li a,ul.secondary li.active a,ul.secondary li a:hover,ul.secondary li a:visited{background:none;border:0;height:auto;margin:0;padding:0 1em 0 0;position:relative;text-decoration:none;top:-1px}ul.primary li.active a,ul.primary li.active a:link,ul.primary li.active a:visited,ul.primary li a:hover,ul.secondary li.active a,ul.secondary li.active a:link,ul.secondary li.active a:visited,ul.secondary li a:hover{background:none}ul.primary li.active a,ul.secondary li.active a{font-weight:700}tr.odd td.menu-disabled{background-color:#edf5fa}tr.even td.menu-disabled{background-color:#fff}#autocomplete li{cursor:default;margin:0;padding:2px}#autocomplete li.selected,tr.selected td,tr.selected td.active{background:#027ac6;color:#fff}fieldset{background:#fff;border:1px solid #d9eaf5;margin:1em 0;padding:1em}fieldset legend{display:block}html.js fieldset.collapsed{background:transparent;padding-bottom:.6em;padding-top:0}html.js fieldset.collapsible legend a{background:url(images/menu-expanded.gif) no-repeat 0 50%;padding-left:2em}html.js fieldset.collapsed legend a{background:url(images/menu-collapsed.gif) no-repeat 0 50%}

div.admin-panel,div.admin-panel .description,div.admin-panel .body,div.admin,div.admin .left,div.admin .right,div.admin .expert-link,div.item-list,.menu{margin:0;padding:0}

div.admin h3{margin-bottom:0}div.admin .left{float:left;width:48%}div.admin .right{float:right;width:48%}div.admin-panel{background:none;padding:1em 1em 1.5em}div.admin-panel .description{margin-bottom:1.5em}div.admin-panel dl{margin:0}

div.admin-panel dd{color:#333;font-size:0.92em;line-height:1.3em;margin-bottom:.65em;margin-top:-0.2em}

table.system-status-report th{border-color:#d3e7f4}tr.selected td a:link,tr.selected td a:visited,tr.selected td a:active{color:#d3e7f4}.messages{background-color:#fff;border:1px solid #b8d3e5}.preview{background-color:#fcfce8;border:1px solid #e5e58f}div.status{border-color:#c7f2c8;color:#33a333}div.error,tr.error{background-color:#FCC;color:#a30000}.form-item input.error,.form-item textarea.error{border:1px solid #c52020;color:#363636}table.system-status-report tr.error,table.system-status-report tr.error th{background-color:#fcc;border-color:#ebb;color:#200}table.system-status-report tr.warning,table.system-status-report tr.warning th{background-color:#ffd;border-color:#eeb}table.system-status-report tr.ok,table.system-status-report tr.ok th{background-color:#dfd;border-color:#beb}